body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2874f0;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card,.class1 {
  position:absolute;
  right:950px;
  top:370px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  
}

.product-card1,.class2 {
  position:absolute;
  right:600px;
  top:370px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
}
.product-card2,.class3 {
  position:absolute;
  right:200px;
  top:370px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  
  text-align: center;
  background-color: white;
}
.product-card3 {
  position:absolute;
  top:620px;
  right:950px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  height:210px;
}
.product-card4 {
  position:absolute;
  top:620px;
  right:600px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  height:210px;
}
.product-card5 {
  position:absolute;
  top:620px;
  right:200px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  height:210px;
}
.search-container{position:absolute;right:900px;bottom:500px;}
.search-bar:focus{outline:None;}
#home{position:absolute;left:800px;}
.i{transition: transform 0.5s ease;}
.i:hover{transform: rotate(45deg);}
.slider-container{overflow-x: hidden;}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bottom-product-container{
  display: flex;
  justify-content: space-between;
}
.slick-arrowslick-prev {
  width: 40px;
  height: 40px;
  background-color: #fff; 
  position: absolute;
  top:50%;
  left:10px;
  transform: translateY(-50%);
  border-radius: 10%;
  cursor: pointer;
  z-index: 9999;
}
.slick-arrowslick-next {
  width: 40px;
  height: 40px;
  background-color: #fff; 
  position: absolute;
  top: 50%; 
  right: 10px;
  transform: translateY(-50%);
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

